<div class="container">
	<h1>Blockchain Visual</h1>
	<p>Each card represents a block on the chain. Click on one to see all the transactions made in the block.</p>
</div>

<div class="container" style="overflow-x: scroll;white-space: nowrap;">
	<!--Loops through all the blocks and displays each one-->
	<app-block-view 
		*ngFor="let block of blocks" 
		[block]="block" 
		[selectedBlock]="selectedBlock"
		(click)="showTransactions(block)"
	></app-block-view>
</div>

<br><br>

<div class="container">
	<h1>Block {{ getBlockNumber(selectedBlock) }} Transactions</h1>

	<!--Loops through all the transactions of one block and displays them-->
	<app-transactions-table
		[transactions]="selectedBlock.transactions"
	></app-transactions-table>
</div>