<div class="container">
    <h1>About</h1>

    <br>

    <div>
        This application is meant to visualize and interact with a blockchain. <br> 
        This project was for me to see the basics in cryptocurrency and blockchains. <br> It allowed me to see the process in 
        seeing the basics structure of a blockchain, <br> mining blocks, as well as how new blocks are formed. <br><br>

        I would like to shout out <a href="https://github.com/conradoqg/naivecoin"> conradoqg</a>, 
        <a href="https://github.com/nambrot/blockchain-in-js"> nambrot</a>,
        and <a href="https://github.com/nambrot/blockchain-in-js"> Savjee</a> for the inspiration.
        Also thanks <a href="https://www.vantajs.com/"> Vanta.js</a> for the free background.
    </div>
</div>

<br>


