<!--Navigation Bar-->
<nav class="navbar navbar-dark" style="background-color: black;">
  <a class="navbar-brand" routerLink="/">
    <img src="assets/images/10-cent.png" width="30" height="30" class="d-inline-block align-top" alt="">
    &nbsp;TenCoin
  </a>

  <div>
    <button routerLink="/new/transaction/pending" class="btn btn-outline-light" *ngIf="thereArePendingTransactions()">
      Pending transactions
      <span class="badge badge-light">{{blockchain.pendingTransactions.length}}</span>
    </button>
    &nbsp;
    <button routerLink="/about" class="btn btn-outline-light">
      About
    </button>
    &nbsp;
    <button routerLink="/options" class="btn btn-outline-light">
      Options
    </button>
    &nbsp;
    <button routerLink="/new/transaction" class="btn btn-outline-light">
      Make Transaction
    </button>
  </div>
</nav>

<!--Bacground Animation from vanta.js-->
  <div id="vantaBackground"></div>
  <br>

  <!--Alert for source code-->
  <div class="container">
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      <a href="https://github.com/zerpha/TenCoin">Github: Source code.</a>
    </div>
  </div>

  <!--Routing points to the blockchain viewer by default which shows the blockchain-->
  <router-outlet></router-outlet>

  <!--footer with link to source code-->
  <footer class="text-muted text-center" style="margin-top: 100px; margin-bottom: 50px;">
    <small><a href="https://github.com/zerpha/TenCoin" target="_blank">Source code</a></small>
  </footer>