<!--Transactions page where you create a transaction to have it pending-->
<div class="container">
	<h1>Make a Transaction</h1>

	<br>
	<!--your wallet-->
	<div class="form-group">
	    <label for="fromAddress">From address</label>
	    <input type="text" class="form-control" id="fromAddress" aria-describedby="fromAddressHelp" [(ngModel)]="ownWalletKey.publicKey" disabled>
	    <small id="fromAddressHelp" class="form-text text-muted">
	    	Your wallet address. Cannot be changed.
	    </small>
  	</div>
	<!--Recepient wallet-->
  	<div class="form-group">
	    <label for="toAddress">To address</label>
	    <input type="text" class="form-control" id="toAddress" aria-describedby="toAddressHelp" [(ngModel)]="newTransaction.toAddress">
	    <small id="toAddressHelp" class="form-text text-muted">
	    	Recepient Address
	    </small>
  	</div>
	<!--coins to transfer-->
  	<div class="form-group">
	    <label for="amount">Amount</label>
	    <input type="number" class="form-control" id="amount" aria-describedby="amountHelp" [(ngModel)]="newTransaction.amount">
	    <small id="amountHelp" class="form-text text-muted">
	    	Amount of coins to transfer. Bank balance not checked so its possible to make negative transactions.
	    </small>
  	</div>

  	<button (click)="createTransaction()" type="submit" class="btn btn-primary">Sign & Pend Transaction</button>

</div>

